.top-bar {
  background: var(--p-surface-card);
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--p-surface-border);
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--p-text-color);
}

.center-buttons {
  display: flex;
  gap: 0.5rem;
  font-size: large;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-info {
  display: flex;
  gap: 1rem;
  font-size: large;
  color: var(--p-text-color);
}
