<div class="login-page">

  <div class="login-header">
    Task Manager
  </div>

  <p-card class="login-card" header="Login">
    <form (ngSubmit)="login()">
      <!-- Поле email -->
      <div class="field">
        <label for="email">Email</label>
        <input id="email"
               pInputText
               [(ngModel)]="email"
               name="email"
               placeholder="Email"
               class="w-full"
               fluid=""/>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <p-password id="password"
                    [(ngModel)]="password"
                    name="password"
                    placeholder="Password"
                    [toggleMask]="true"
                    [feedback]="false"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    fluid="">
        </p-password>
      </div>

      <!-- Сообщение об ошибке -->
      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>

      <!-- Кнопка отправки -->
      <p-button class="accept-button" type="submit" label="Login" [style]="{'width': '100%', 'margin-top': '0.5rem'}"></p-button>
    </form>
  </p-card>

</div>
